@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 225 10% 92%;
    --foreground: 230 20% 25%;
    --muted: 225 12% 88%;
    --muted-foreground: 225 12% 28%;
    --popover: 225 10% 89%;
    --popover-foreground: 230 20% 15%;
    --card: 225 10% 90%;
    --card-foreground: 230 20% 20%;
    --border: 0 0% 87%;
    --input: 0 0% 84%;
    --primary: 230 20% 25%;
    --primary-foreground: 230 20% 95%;
    --secondary: 230 10% 75%;
    --secondary-foreground: 230 10% 15%;
    --accent: 225 10% 77%;
    --accent-foreground: 225 10% 17%;
    --destructive: 0 90% 39%;
    --destructive-foreground: 0 90% 99%;
    --ring: 230 20% 25%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-stock: 230 20% 25%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 225 10% 92%;
    --foreground: 230 20% 25%;
    --muted: 225 12% 88%;
    --muted-foreground: 225 12% 28%;
    --popover: 225 10% 89%;
    --popover-foreground: 230 20% 15%;
    --card: 225 10% 90%;
    --card-foreground: 230 20% 20%;
    --border: 0 0% 87%;
    --input: 0 0% 84%;
    --primary: 230 20% 25%;
    --primary-foreground: 230 20% 85%;
    --secondary: 230 10% 75%;
    --secondary-foreground: 230 10% 15%;
    --accent: 225 10% 77%;
    --accent-foreground: 225 10% 17%;
    --destructive: 0 90% 39%;
    --destructive-foreground: 0 90% 99%;
    --ring: 230 20% 25%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-stock: 230 20% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.shimmer {
  animation: shimmer 5s infinite;
}
